/* IR 기법 */
.hidden{display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;}

/* 공통 */
.wrap{padding:0 5.1vw;}
.br{display:inline !important;}

/* swiper 리셋 */
.swiper-pagination{width:100%;}
.swiper-pagination-bullet,
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px;text-indent:-99999px;}
.swiper-pagination-bullet-active{background:#000;}
.swiper-button-next, .swiper-button-prev{width:56px;height:56px;background-size:100% auto;margin-top:0;top:148px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image:url('../images/ic_arrow_slide_left.svg');left:0;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image:url('../images/ic_arrow_slide_right.svg');right:0;}
.swiper-button-next span, .swiper-button-prev span{display:block;text-indent:-99999px;}

/* header */
header{height:14.35vw;display:flex;flex-wrap:wrap;width:100%;padding:0 5.1vw;justify-content: space-between;align-items: center;background:#fff;}
header .off{display:none;}
header > h1{flex:auto;text-align:center;font-size:4.1vw;font-weight:700;}
header > ul{display:flex;}
header > ul li + li{margin-left:5.1vw;}

/* 상품상세페이지에서만 fixed */
header.prdViewPage{position:fixed;left:0;top:0;width:100%;z-index: 8;transform: translateY(0px);-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background:rgba(255,255,255,0.95);}
header.prdViewPage.off{transform:translateY(-14.35vw);}


/* footer */
footer.inBtnFix{padding-bottom:20.51vw;}
