@charset "UTF-8";
@import 'reset.css';
@import 'common.css';



body.scLock{overflow:hidden;}

/* 모바일 제이쿼리 css 리셋 */
/* input */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #898989;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #898989;
}

.inputBox + .inputBox{margin-top:7.69vw;}
.inputBox .tit{font-weight:700;}
.inputBox .tit span.star{color:#f41300;}
.inputBox .tit{font-weight:700;}
.inputBox .tit + .txt{margin-top:1.28vw;font-size:3.58vw;color:#898989;}
.inputBox .ui-input-text{margin-top:2.56vw;position:relative;box-shadow:none;border-radius:0.76vw;border:1px solid #ddd;height:12.3vw;line-height:12.3vw;padding-left:5.12vw;box-sizing:border-box;}
.inputBox .ui-input-text.ui-focus{border-color:#111;}
.inputBox .ui-input-has-clear{padding-right:12.82vw;}
.inputBox input{height:100%;line-height:100%;padding:0;font-size:3.84vw;color:#111;border:none;width:100%;outline:none;vertical-align:top;}
.inputBox .ui-input-has-clear a{position:absolute;top:50%;right:5.12vw;margin:0;margin-top:-2.56vw;width:5.12vw;height:5.12vw;text-indent:-99999px;}
.inputBox .ui-input-has-clear a.ui-input-clear-hidden{display:none;}
.inputBox .ui-input-has-clear a:after{content: "";position: absolute;top:0;right:0;display: block;width:5.12vw;height:5.12vw;background-position: center center;background-repeat: no-repeat;background-image:url('../images/ic_input_del.svg');background-size:cover;}
.inputBox .ui-state-disabled{opacity:1;background:#f4f4f4;}
.inputBox .ui-state-disabled input{color:#898989;}
.inputBox .selBox{display:flex;flex-wrap:wrap;flex-flow:row;margin-top:2.56vw;position:relative;box-shadow:none;border-radius:0.76vw;border:1px solid #ddd;height:12.3vw;line-height:12.3vw;padding-left:5.12vw;box-sizing:border-box;}
.inputBox .selBox .ui-select{position:relative;min-width:17.94vw;height:calc(12.3vw - 2px);line-height:calc(12.3vw - 2px);padding-right:3.8vw;}
.inputBox .selBox .ui-select:before{content:'';position:absolute;width:3.07vw;height:2.05vw;right:0;top:50%;margin-top:-1.025vw;background-image:url('../images/ic_arrow_d.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;}
.inputBox .selBox select{position:absolute;left:0;top:0;opacity:0;height:12.3vw;}
.inputBox .selBox .ui-input-text{margin-top:0;border:none;height:calc(12.3vw - 2px);line-height:calc(12.3vw - 2px);}
.inputBox .selBox.tel .ui-input-text{padding-left:0;text-align:center;}
.inputBox .selBox.tel .ui-input-text input{text-align:center;}
.inputBox textarea{width:100%;height:71.79vw !important;line-height:1.4 !important;padding:5.12vw;}
.inputBox .clickType{margin-top:5.12vw;}
.inputBox .clickType label ~ label{margin-left:10.2vw;}
.inputBox .termCon{margin-top:2.56vw;}

.inputBox .businessNum{display:flex;flex-wrap:wrap;flex-flow:row;margin-top:2.56vw;position:relative;box-shadow:none;border-radius:0.76vw;border:1px solid #ddd;height:12.3vw;line-height:12.3vw;box-sizing:border-box;}
.inputBox .businessNum .ui-input-text{margin-top:0;padding-left:0;border:none;height:calc(12.3vw - 2px);line-height:calc(12.3vw - 2px);}
.inputBox .businessNum .ui-input-text input{text-align:center;}

.inputBox .addressFind{overflow:hidden;margin:0 0 0 -2.5vw;}
.inputBox .addressFind > *{float:left;width:calc(50% - 2.5vw);margin:2.5vw 0 0 2.5vw;}
.inputBox .addressFind > *:last-child{width:calc(100% - 2.5vw);}

.inputBox .receiveMarket{margin-top:5.1vw;}
.inputBox .receiveMarket .tit{display:block;font-size:3.58vw;font-weight:400;}
.inputBox .receiveMarket .tit + p{margin-top:1.2vw;font-size: 3.33vw;color: #898989;}
.inputBox .receiveMarket .clickType{margin-top:2.5vw;}

/* 버튼 및 아이콘 */
.btnBox{display:flex;}
.btnBox.btn2 > div{width:50%;}
.btnBox.onlyType > div{width:100%;}
.btnBox.btn2 > div + div{margin-left:2.56vw;}

.btn,
.btn a:before{background-repeat:no-repeat;background-position:0 0;background-size:cover;}
.btn a{display:block;width:100%;height:100%;position:relative;}
.btn a span.hide{display:block;text-indent:-99999px;width:100%;height:100%;}
.btn.rd{border-radius:7.69vw;text-align:center;line-height:12.3vw;height:12.3vw;font-size:4.1vw;font-weight:500;}
.btn.rd2{border-radius:0.76vw;text-align:center;line-height:12.3vw;height:12.3vw;font-weight:500;}

/* 버튼 */
.btn.gray{border:1px solid #e8e8e8;}
.btn.black{border:1px solid #111;}
.btn.gradation1 a{text-align:center;font-weight:500;color:#fff;}
.btn.fixed a{font-size:4.6vw;padding-top:3.8vw;padding-bottom:10vw;}
.btn.col2{display:flex;}
.btn.fixed.col2 a{width:50%;}
.btn.gradation1 a.cancel{font-weight:300;}
.btn.fixed.col2 a + a:before{content:'';position:absolute;top:3.84vw;left:0;width:1px;height:6.15vw;background-color:rgba(255,255,255,.4);}

.btn.prev{width:3.07vw;height:5.64vw;background-image:url('../images/ic_back.svg');} /* 뒤로가기 */
.btn.home{width:5.64vw;height:5.64vw;background-image:url('../images/ic_home.svg');} /* 홈버튼 */
.btn.search{width:5.64vw;height:5.64vw;background-image:url('../images/ic_search_bl.svg');} /* 검색버튼 */
.btn.alarm{width:5.64vw;height:5.64vw;background-image:url('../images/ic_alarm.svg');position:relative;} /* 알림버튼 */
.btn.alarm .count{position:absolute;top:-2.3vw;right:-3vw;font-size:3vw;color:#fff;padding:0 1.28vw;height:4.6vw;line-height:4.6vw;border-radius:7.69vw;background:#f40000;}
.btn.popClose{width:6.15vw;height:6.15vw;background-image:url('../images/ic_close.svg');} /* 팝업닫기 */
.btn.wish{width:5.12vw;height:5.12vw;background-image:url('../images/ic_wish_off.svg');} /* 찜하기 */
.btn.wish.on{width:5.12vw;height:5.12vw;background-image:url('../images/ic_wish_on.svg');} /* 찜하기 */
.btn.cart{width:5.12vw;height:5.12vw;background-image:url('../images/ic_cart.svg');} /* 카트담기 */
.btn.listTy{width:5.12vw;height:5.12vw;background-image:url('../images/ic_list_type1.svg');} /* 리스트타입 기본 */
.btn.listTy.ty2{width:5.12vw;height:5.12vw;background-image:url('../images/ic_list_type2.svg');} /* 리스트타입2 */
.btn.del{width:3.07vw;height:3.07vw;background-image:url('../images/ic_del.svg');} /* 삭제 버튼 */

/* 필터 */
.btn.filter a{padding-right:7.17vw;font-size:3.58vw;line-height:1.43;}
.btn.filter a:before{content:'';position:absolute;right:0;top:0;width:5.12vw;height:5.12vw;background-image:url('../images/ic_filter.svg');}

/* 초기화 버튼 */
.btn.reset a{padding-left:7.17vw;}
.btn.reset a:before{content:'';position:absolute;left:0;top:0;width:5.12vw;height:5.12vw;background-image:url('../images/ic_reset.svg');}
.btn.reset a.spin:before{-webkit-animation-name: spin;-moz-animation-name: spin;-ms-animation-name: spin;animation-name: spin;-webkit-animation-duration: 1s;-moz-animation-duration: 1s;-ms-animation-duration: 1s;animation-duration: 1s;-webkit-animation-iteration-count: 1;-moz-animation-iteration-count: 1;-ms-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-timing-function: linear;-moz-animation-timing-function: linear;-ms-animation-timing-function: linear;animation-timing-function: linear;}
@-ms-keyframes spin { 
	from {-ms-transform: rotate(0deg);} 
	to {-ms-transform: rotate(360deg);}
}
@-moz-keyframes spin { 
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin { 
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@keyframes spin { 
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* 그라데이션 */
.gradation1{background-image: linear-gradient(to right, #ff7112, #f41300);}

/* 슬라이드 업, 다운 */
.slideCon{width:100%;}
.slideCon .top{border-bottom:1px solid #eee;display:flex;flex-wrap:wrap;}
.slideCon .top a{width:100%;padding:5.12vw 6.4vw 5.12vw 5.12vw;flex:auto;font-weight:500;}
.slideCon .top a p{position:relative;}
.slideCon .top a p:before{content:'';position:absolute;width:3.07vw;height:2.05vw;right:0;top:50%;margin-top:-1.025vw;background-image:url('../images/ic_arrow_d.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.slideCon.on .top a p:before{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg);}
.slideCon .bottom{display:none;border-bottom:1px solid #eee;}
.slideCon .top > p{padding:5.12vw 3.84vw 5.12vw 5.12vw;position:relative;color:#898989;}
.slideCon .top > p:before{content:'';position:absolute;right:0;top:5.12vw;width:1px;height:calc(100% - 10.24vw);background-color:#ddd;}
.slideCon .top > p + a{width:auto;padding:5.12vw 6.4vw 5.12vw 3.84vw;}

/* 체크박스 및 라디오박스 */
input[type="checkbox"],
input[type="radio"] {border: 0;clip: rect(0 0 0 0);height: 1px;  margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
input[type="checkbox"] + label:before, 
input[type="radio"] + label:before{box-sizing: content-box;position: absolute;content: '';display: block;left: 0;}
input[type="checkbox"].checkTy1 + label,
input[type="radio"].radioTy1 + label{position: relative;padding-left:7.17vw;}
input[type="checkbox"].checkTy1 + label:before{top:0;width: 5.12vw;height: 5.12vw;text-align: center;background-image:url('../images/ic_check1_off.svg');background-repeat:no-repeat;background-position:0 0;background-size:100% auto;}
input[type="radio"].radioTy1 + label:before {top:0;width: 5.12vw;height: 5.12vw;text-align: center;background-image:url('../images/ic_radio1_off.svg');background-repeat:no-repeat;background-position:0 0;background-size:100% auto;}
input[type="checkbox"].checkTy1:checked + label:before {background-image:url('../images/ic_check1_on.svg');}
input[type="radio"].radioTy1:checked + label:before {background-image:url('../images/ic_radio1_on.svg');}
input[type="radio"].radioTy2 + label{position: relative;padding-left:6.4vw;}
input[type="radio"].radioTy2 + label:before {top:0.5vw;width: 5.12vw;height: 5.12vw;text-align: center;background-image:url('../images/ic_radio2_off.svg');background-repeat:no-repeat;background-position:0 0;background-size:100% auto;}
input[type="radio"].radioTy2:checked + label:before {background-image:url('../images/ic_radio2_on.svg');}

/* 동의 박스 */
.termCon{}
.termBox{overflow:auto;height:38.4vw;padding:5.12vw;border-radius: 3px;background-color: #f8f8f8;}
.termCon .clickType{margin-top:5.12vw;text-align:center;}

/* 팝업 */
.dimmed{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:10;display:none;top:0;left:0;}
.layerPop{position:fixed;width:100%;right:-100%;top:0;height:100%;background:#fff;-webkit-transition:all 0.6s;transition:all 0.6s;z-index:20;}
.layerPop.on{right:0;}
.layerPop .top{height:12.3vw;display:flex;flex-wrap:wrap;align-items:center;width:100%;padding:0 5.1vw;margin:5.12vw 0;}
.layerPop .top .searchBox{margin-left:5.64vw;width: calc(100% - 5.64vw - 3.07vw);position:relative;}
.layerPop .top .searchBox:before{content:'';position:absolute;background-image:url('../images/ic_search_w.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;width:5.64vw;height:5.64vw;left:5.12vw;top:3.33vw;z-index:1;}
.layerPop .top .searchBox .ui-input-text{position:relative;box-shadow:none;border-radius:0.76vw;height:12.3vw;line-height:12.3vw;box-sizing:border-box;}
.layerPop .top .searchBox input{height:100%;line-height:100%;padding:0;font-size:3.84vw;color:#fff;border:none;width:100%;outline:none;vertical-align:top;border-radius: 1.53vw;padding-left:13.33vw;}
.layerPop .top .searchBox ::placeholder{color: #fff;}
.layerPop .top .searchBox :-ms-input-placeholder{color: #fff;}
.layerPop .top .searchBox ::-ms-input-placeholder{color: #fff;}

/* 하단팝업 */
.layerBtPop{position:fixed;bottom:-100%;left:0;width:100%;border-radius:7.69vw 7.69vw 0 0;background:#fff;max-height:calc(100% - 20.5vw);-webkit-transition:all 0.6s;transition:all 0.6s;z-index:20;}
.layerBtPop .con{height:100%;overflow-y:scroll;}
.layerBtPop.on{bottom:0;}

/* 풀팝업 */
.layerFullPop{position:fixed;top:0;left:0;width:100%;background:#fff;height:100%;z-index:20;display:none;}
.layerFullPop .con{height:calc(100% - 14.35vw);overflow-y: scroll;}
.layerFullPop > .top{height:14.35vw;display:flex;flex-wrap:wrap;width:100%;padding:0 5.1vw;justify-content: space-between;align-items: center;}
.layerFullPop > .top .tit{font-size:4.1vw;font-weight:700;}


/* 텍스트 */
.listType > li{position:relative;padding:0 0 0 2.5vw;}
.listType > li + li{margin-top:2.5vw;}
.listType > li a{display:inline;font-weight:700;}
.listType > li:before{content:'';position:absolute;}
.listType.dot > li:before{top:2.5vw;left:0;width:0.8vw;height:0.8vw;background:#111;border-radius:100%;}


/* 테이블 */

/****************** 메인 ******************/


/****************** 카테고리 ******************/
.category.catergoryPop .top .tit a.under{display:inline-block;text-decoration:underline;}
.category.catergoryPop .top .grade{padding-left:8.71vw;position:relative;}
.category.catergoryPop .top .grade:before{content:'';position:absolute;left:0;top:0;width:6.15vw;height:6.15vw;background-size: 100% auto;background-repeat: no-repeat;background-position:0 0;}
.category.catergoryPop .top .grade.pla:before{background-image:url('../images/img_grade_platinum.svg');}
.category.catergoryPop .top .grade.vvip:before{background-image:url('../images/img_grade_vvip.svg');}
.category.catergoryPop .top .grade.vip:before{background-image:url('../images/img_grade_vip.svg');}
.category.catergoryPop .top .grade.mem:before{background-image:url('../images/img_grade_member.svg');}
.category.catergoryPop .top .grade.notm:before{background-image:url('../images/img_grade_notmember.svg');}
.category.catergoryPop .topBanner{display:flex;padding:0;margin-bottom:2.56vw;margin-top:3.58vw;}
.category.catergoryPop .topBanner > div{width:50%;}
.category.catergoryPop .topBanner > div + div{margin-left:4.1vw;}
.category.catergoryPop .topBanner > div a{text-align:center;border-radius: 3.07vw;background: #fff6ef;padding:5.12vw 0;}
.category.catergoryPop .topBanner > div a span{position:relative;padding-left:7.69vw;font-size:3.84vw;font-weight:500;}
.category.catergoryPop .topBanner > div a span:before{content:'';position:absolute;width:5.12vw;height:5.12vw;left:0;top:0.5vw;background-size: 100% auto;background-repeat: no-repeat;background-position:0 0;}
.category.catergoryPop .topBanner > div.btnShipping a span:before{background-image: url('../images/ic_truck.svg');}
.category.catergoryPop .topBanner > div.btnCoupon a span:before{background-image: url('../images/ic_coupon.svg');}
.category.catergoryPop .slideCon .bottom{background:#f8f8f8;}
.category.catergoryPop .slideCon .bottom ul{display:flex;flex-wrap:wrap;}
.category.catergoryPop .slideCon .bottom ul li{width:50%;border-bottom:1px solid #eee;border-right:1px solid #eee;}
.category.catergoryPop .slideCon .bottom ul li:nth-last-child(-n+2){border-bottom:0;}
.category.catergoryPop .slideCon .bottom ul li:nth-child(even){border-right:0;border-bottom:1px solid #eee;}
.category.catergoryPop .slideCon .bottom ul li:last-child{border-bottom:0;}
.category.catergoryPop .slideCon .bottom ul li a{font-size:3.58vw;height:12.82vw;line-height:12.82vw;padding-left:5.12vw;}
.category.catergoryPop .slideCon .bottom ul li.on a{color:#f41300;text-decoration:underline;}


/* 상품목록 */
.labelTag{}
.labelTag .label{display:inline-block;padding:0 1.2vw;font-size:3.07vw;line-height:5.1vw;border-radius:2px;}
.labelTag .label.red{border:1px solid #f41300;color:#f41300;}
.labelTag .label.blue{border:1px solid #623dc7;color:#623dc7;}

.prdList ul:after{content:'';display:block;clear:both;}
.prdList ul > li{position:relative;display:block;padding:0 0 0 46vw;}
.prdList ul > li + li{margin-top:12.8vw;}
.prdList .thumb{overflow:hidden;position:absolute;top:0;left:0;width:42.3vw;height:42.3vw;border:1px solid #e8e8e8;border-radius:5px;}
.prdList .thumb a{display:block;}
.prdList .detail > a{display:block;}
.prdList .detail > a > *:not(.labelTag){display:block;margin-top:1.3vw;}
.prdList .detail .title{font-size:3.9vw;color:#111;}
.prdList .detail .prdCode{font-size:3.3vw;color:#111;}
.prdList .detail .prdOption{font-size:3.3vw;color:#898989;}
.prdList .detail .baseDiscount{margin-top:2.6vw;}
.prdList .detail .baseDiscount .percentage{display:inline-block;font-size:4.1vw;color:#f41300;font-weight:700;vertical-align:bottom;}
.prdList .detail .baseDiscount .basePrice{display:inline-block;font-size:3.5vw;color:#888;text-decoration:line-through;vertical-align:bottom;}
.prdList .detail .baseDiscount .price{display:block;font-size:4.6vw;}
.prdList .detail .prdSet{margin-top:3.8vw;text-align:right;}
.prdList .detail .prdSet > *{display:inline-block;vertical-align:middle;}
.prdList .detail .prdSet > * + *{position:relative;margin-left:5.1vw;padding-left:5.1vw;}
.prdList .detail .prdSet > * + *:before{content:'';position:absolute;top:0;left:0;width:1px;height:5.1vw;background:#e8e8e8;}

.prdList .lineTwo{display: flex;flex-flow: wrap;}
.prdList ul.lineTwo > li{padding-left:0;width:calc((100% - 4.1vw)/2);margin-top:12.8vw;}
.prdList ul.lineTwo > li:nth-child(even){margin-left:4.1vw;}
.prdList ul.lineTwo > li:nth-child(-n+2){margin-top:0;}
.prdList .lineTwo .thumb{position:relative;margin:0 auto;}
.prdList .lineTwo .detail .title{margin-top:0;}
.prdList .lineTwo .detail .prdSet{overflow:hidden;margin:3.8vw 0;}
.prdList .lineTwo .detail .prdSet > *{float:left;width:50%;text-align:center;}
.prdList .lineTwo .detail .prdSet > * + *{margin:0;padding:0;}
.prdList .lineTwo .detail .prdSet .btn{display:inline-block;}
.prdList .lineTwo .detail .labelTag{margin-top:2.5vw;}

/* 상품코드로 주문하기 */

/****************** 장바구니 ******************/


/****************** 주문/결제 ******************/


/****************** 마이페이지 ******************/


/****************** My카탈로그 ******************/


/****************** 고객센터 ******************/


/****************** 회원가입 ******************/
.joinIpt{}
.joinIpt .wrap{margin-bottom:15.3vw;}

.newMemEvt{padding:7.69vw 0 3.8vw;background-color: #f2f4ff;}
.newMemEvt .title{display:block;padding:0 0 0 5.1vw;font-size:3.58vw;}
.newMemEvt > ul{overflow-y: hidden;display:-webkit-flex;-webkit-flex-wrap:no-wrap;display:flex;flex-wrap:no-wrap;flex-direction:row;width:100%;margin:0 -5.1vw 0 0;padding:3.8vw 0;}
.newMemEvt > ul > li{display: inline-block;padding-left:5.1vw;flex:auto;flex-shrink:0;}
.newMemEvt > ul > li:last-child{margin-right:5.1vw;}
.newMemEvt > ul > li .box{display:table;height:51.2vw;padding:0 7.69vw;border-radius: 24px;box-shadow: 0 3px 6px 0 #d0cce0;background-color: #ffffff;}
.newMemEvt > ul > li .boxCell{display:table-cell;text-align:center;vertical-align:middle;}
.newMemEvt > ul > li .boxCell .tit{display:block;padding-top:12.8vw;font-weight:600;background-repeat:no-repeat;background-position:center top;background-size:10.2vw auto;}
.newMemEvt > ul > li:nth-child(1) .boxCell .tit{background-image:url('../images/ic_benefit_1.svg');}
.newMemEvt > ul > li:nth-child(2) .boxCell .tit{background-image:url('../images/ic_benefit_2.svg');}
.newMemEvt > ul > li:nth-child(3) .boxCell .tit{background-image:url('../images/ic_benefit_3.svg');}
.newMemEvt > ul > li:nth-child(4) .boxCell .tit{background-image:url('../images/ic_benefit_4.svg');}
.newMemEvt > ul > li .boxCell .benefit{display:block;font-size:3.58vw;}
.newMemEvt > ul > li .boxCell .period{display:block;font-size:3.58vw;color:#898989;}

.memSelector{padding:10.2vw 0;}
.memSelector .title{display:block;margin-top:10.2vw;font-size:5.1vw;}
.memSelector .title:first-of-type{margin-top:0;}
.memSelector p{margin-top:1.5vw;padding-left:5.1vw;background:url('../images/ic_txt_arrow.svg') no-repeat left 0.8vw;background-size:4.1vw auto;font-size:3.58vw;}
.memSelector .btnBox{margin-top:5.1vw;}
.memSelector .commentBox{margin-top:7.69vw;padding:5.1vw;border-radius:6px;background-color:#f8f8f8;}
.memSelector .commentBox span{color:#f41300;}

.memService{padding:7.69vw 5.1vw;background-color:#e7f8f8;}
.memService .title{display:block;font-size:3.58vw;}
.memService > ul{margin:0 0 0 -4.1vw;}
.memService > ul:after{content:'';display:block;clear:both;}
.memService > ul > li{float:left;width:calc(50% - 4.1vw);margin:4.1vw 0 0 4.1vw;padding:3.84vw 0;border-radius:24px;box-shadow: 0 3px 6px 0 #cce0db;background-color: #ffffff;font-size:3.58vw;text-align:center;}
.memService > ul > li .txt{display:block;padding-top:11.53vw;background-repeat:no-repeat;background-position:center top;background-size:10.2vw auto;}
.memService > ul > li:nth-child(1) .txt{background-image:url('../images/ic_member_service1.svg');}
.memService > ul > li:nth-child(2) .txt{background-image:url('../images/ic_member_service2.svg');}
.memService > ul > li:nth-child(3) .txt{background-image:url('../images/ic_member_service3.svg');}
.memService > ul > li:nth-child(4) .txt{background-image:url('../images/ic_member_service4.svg');}
.memService > ul > li:nth-child(5) .txt{background-image:url('../images/ic_member_service5.svg');}
.memService > ul > li:nth-child(6) .txt{background-image:url('../images/ic_member_service6.svg');}


.iptTitle{display:block;margin:15.3vw 0 7.69vw;padding-bottom:2.6vw;border-bottom:1px solid #111;font-size:4.6vw;}
.iptTitle:first-of-type{margin-top:0;}

.iptTitle + .titSub{margin:-3.84vw 0 7.69vw;font-size:3.58vw;color: #898989;}

.termAgree{}
.termAgree > span{position:relative;display:block;margin-top:5.1vw;padding-right:5.1vw;}
.termAgree > .allChk{margin-top:0;margin-bottom:3.84vw;padding-bottom:3.84vw;border-bottom:1px solid #eee;font-weight:700;}
.termAgree > span label > em{color:#f41300;}
.termAgree > span .termMore{position: absolute;width:3.07vw;height:2.05vw;right:0;top:50%;margin-top:-1.025vw;background-image: url('../images/ic_arrow_d.svg');background-repeat: no-repeat;background-position: 0 0;background-size: cover;transform: rotate(-90deg);}

.accreditOpt{margin:0 0 0 -4.1vw;}
.accreditOpt:after{content:'';display:block;clear:both;}
.accreditOpt > li{float:left;width:calc(50% - 4.1vw);margin-left:4.1vw;}
.accreditOpt > li > a{padding:5.1vw;border-radius: 12px;border: solid 1px #e8e8e8;text-align:center;}
.accreditOpt > li > a > span{display:block;padding-top:23.07vw;background-repeat:no-repeat;background-position:center top;background-size:20.5vw auto;}
.accreditOpt > li.phone > a > span{background-image:url('../images/ic_accredit_phone.png');}
.accreditOpt > li.iPin > a > span{background-image:url('../images/ic_accredit_ipin.png');}


/****************** 로그인 ******************/


/* 검색 */
.srhBox{position:relative;}
.srhBox + .srhBox{margin-top:7.69vw;}
.srhBox.popularBox{padding-top:7.69vw;border-top:1px solid #eee;}

.srhBox .title{display:block;}
.srhBox .itemList{margin-top:5.1vw;}
.srhBox .recentType{margin:-2.5vw 0 0 -1.2vw;}
.srhBox .recentType .noData{margin: 2.5vw 0 0 1.2vw;color:#898989;}
.srhBox .recentType .item{position:relative;display:inline-block;margin:2.5vw 0 0 1.2vw;padding:1.2vw 7.3vw 1.2vw 2.5vw;font-size:3.3vw;border-radius: 15px;border:1px solid #e8e8e8;vertical-align:middle;}
.srhBox .recentType .item .btn.del{position:absolute;top:1.9vw;right:2.5vw;z-index:10;}
.srhBox .allClear{position:absolute;top:0;right:0;font-size:3.3vw;color:#898989;z-index:1;}

.srhBox .kwdType{margin:-2.5vw 0 0 -1.2vw;}
.srhBox .kwdType .item{display:inline-block;margin:2.5vw 0 0 1.2vw;padding:1.2vw 2.5vw;font-size:3.3vw;border-radius: 15px;background-color:#fff6ef;vertical-align:middle;}

.srhBox .popularType{margin:-5.1vw 0 0 -1.2vw;}
.srhBox .popularType:after{content:'';display:block;clear:both;}
.srhBox .popularType li{position:relative;float:left;width:calc(50% - 1.2vw);margin:5.1vw 0 0 1.2vw;padding:0 0 0 7.69vw;}
.srhBox .popularType li .num{position:absolute;top:0;left:0;font-weight:700;}

/****************** etc ******************/

/* 제휴/입점 팝업 */
.cooperPage{padding-bottom:10.25vw;}
.cooperCon{margin:0 0 10.25vw;padding:7.69vw 5.12vw;background-color:#fff6ef;}
.cooperCon p + p{margin-top:10px;}
.cooperCon .cooperMap{position:relative;width:85.5%;margin:7.69vw auto 0;}
.cooperCon .cooperMap:before{content:'';position:absolute;top:50%;left:50%;width:20.5vw;height:20.5vw;background:url('../images/ic_handshake.svg') no-repeat 0 0;background-size:20.5vw auto;transform:translate(-50%,-50%);z-index:10;}
.cooperCon ul{margin:-2.6vw 0 0 -5.12vw;}
.cooperCon ul:after{content:'';display:block;clear:both;}
.cooperCon ul > li{float:left;display:table;width:calc(50% - 5.12vw);height:18.5vw;margin:2.6vw 0 0 5.12vw;padding:4.1vw;border-radius: 24px;box-shadow: 0 3px 6px 0 rgba(190, 15, 0, 0.1);background-color: #ffffff;}
.cooperCon ul > li > span{display:table-cell;font-size:3.58vw;text-align:center;vertical-align:middle;}

.cooperPage .btnBox{margin-top:10.25vw;}

/* 이메일 주소 수집거부 */
.emailPop .title{display:block;margin:7.69vw 0 5.12vw;}
.emailPop .date{display:block;margin:7.69vw 0 0;}

/* 오류페이지 */
.errorTop{margin:0 0 7.69vw;padding:25.6vw 0 7.69vw;border-bottom:1px solid #eee;background:url('../images/ic_404.svg') no-repeat 0 0;background-size:20.5vw auto;}
.errorTop .title{display:block;margin-bottom:2.5vw;font-size:6.15vw;}
.errorTop p{font-size:6.15vw;font-weight:200;}

.errorPage .btnBox{margin-top:15.3vw;}