/* heading */
.h-t01{margin-bottom: 20px; font-size: 30px; line-height: 32px; color: #333a4d;}
.h-t02{margin-bottom: 8px; padding: 0 10px 2px; font-size: 15px; line-height: 26px; color: #333a4d; border-bottom: 1px solid #d6d6d6;}
.h-t03{margin-bottom: 25px; padding-left: 15px; font-size: 20px; font-weight: bold; color: #000;}
.h-t03 .ico{margin-top: -2px; margin-right: 10px;}
.h-t04{margin-bottom: 20px; font-size: 18px; color: #333; border-bottom: 1px solid #c6c6c6; height: 60px; padding-top: 17px;}
.h-t05 {position: relative; margin-bottom: 10px; font-size: 18px; line-height: 20px; color: #333; padding-left: 0;}
.h-t05.t_2{margin-bottom: 15px;}
.h-t05 .aside{position: absolute; top: 0; right: 0;}
.h-t05 .aside.t_2{top: 6px;}
.h-t06{margin-bottom: 12px; font-weight: bold;}
.h-t07{position: relative; margin-bottom: 20px; padding-bottom: 14px; font-size: 18px; font-weight: bold; line-height: 22px; color: #333; border-bottom: 1px solid #c6c6c6;}
.h-t07 .aside{position: absolute; top: 0; right: 0;}

/* em */
.em-weightier{color: #f03d41;}

/* ico */
.ico{display: inline-block; vertical-align: middle;}
.ico.card{width: 27px; height: 27px; background: url('/small/images/icon_card.png') no-repeat 0 0;}
.ico.cart{width: 27px; height: 27px; background: url('/small/images/icon_cart02.png') no-repeat 0 0;}
.ico.order{width: 27px; height: 27px; background: url('/small/images/icon_order.png') no-repeat 0 0;}
.ico.order02{width: 61px; height: 61px; background: url('/small/images/icon_order02.png') no-repeat 0 0;}
.ico.money{width: 61px; height: 61px; background: url('/small/images/icon_money.png') no-repeat center center;}
.ico.money02{width: 61px; height: 61px; background: url('/small/images/icon_money02.png') no-repeat center center;}
.ico.money03{width: 61px; height: 61px; background: url('/small/images/icon_money03.png') no-repeat center center;}
.ico.truck{width: 61px; height: 61px; background: url('/small/images/icon_truck.png') no-repeat center center;}
.ico.truck02{width: 61px; height: 61px; background: url('/small/images/icon_truck02.png') no-repeat center center;}
.ico.bill{width: 61px; height: 61px; background: url('/small/images/icon_bill.png') no-repeat center center;}

/* label */
.label-t01{position: relative; top: auto; left: auto; display: inline-block; width: auto; height: auto; padding: 0 10px; vertical-align: middle; color: #666;}
.label-t01.t_2{padding-left: 4px; padding-right: 30px; font-weight: bold;}
.label-t01.t_3{padding-left: 4px; padding-right: 30px;}
.label-t01.t_4{padding-left: 4px;}
.label-t01.t_5{padding: 0 6px 0 0;}

.label-t02{display: block; height: 60px; margin-bottom: 15px; font-weight: bold; text-align: center; color: #666;border:1px solid #e5e5e5; background-color: #fafafa; padding-top: 15px; font-size: 16px;}
.label-t02.t_2{background-color: #6e80df;}

/* input */
input[type="radio"].radio-t01{display: inline-block; height: auto; margin: 4px 0 0 0; vertical-align: middle;}
input[type="radio"].radio-t01.t_2 {margin: 0 2px 0 0; vertical-align: -3px;}
input[type="checkbox"].checkbox-t01{display: inline-block; height: auto; margin: 4px 0 0 0;}
input[type="checkbox"].checkbox-t01.t_2{margin-top: 0;}
select.select-t01{display: inline-block; height: 32px; padding-left: 5px; vertical-align: middle; border: 1px solid #bdbdbd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
select.select-t01.t_m{height: 28px;}

.input-t01{display: inline-block; height: 32px; padding: 0 5px; line-height: 30px; vertical-align: middle; border: 1px solid #bdbdbd;}
.input-t01.t_s{height: 24px; line-height: 22px;}
.input-t01.t_m{height: 28px; line-height: 26px;}
.input-t01.w_s, .select-t01.w_s{width: 65px;}
.input-t01.w_s2, .select-t01.w_s2{width: 95px;}
.input-t01.w_m, .select-t01.w_m{width: 120px;}
.input-t01.w_m2, .select-t01.w_m2{width: 150px;}
.input-t01.w_m3, .select-t01.w_m3{width: 220px;}
.input-t01.w_m4, .select-t01.w_m4{width: 210px;}
.input-t01.w_l, .select-t01.w_l{width: 500px;}
.input-t01.w_l2, .select-t01.w_l2{width: 400px;}
.input-t01.w_l3, .select-t01.w_l3{width: 300px;}
.input-t01.w_xxl, .select-t01.w_xxl{width: 100%;}
.input-t01.cart_filnal{letter-spacing:0 !important;}

.inputSpinner{position: relative; display: inline-block; width: 63px; height: 24px; padding-right: 17px;}
.inputSpinner .input-t01{width: 48px; height: 22px; text-align: center; font-size: 12px; line-height: 1;}
.inputSpinner .btn-countUp{position: absolute; top: 1px; right: 0;}
.inputSpinner .btn-countDown{position: absolute; top: 13px; right: 0;}

/* link */
.link-t01{text-decoration: underline;}

/* tag */
.tag-t01{display: inline-block; padding: 2px; line-height: 13px; color: #fff; background-color: #32b16c;}
.tag-t01.t_2{background-color: #448aca;}

/* button */
.btn-t01{display: inline-block; text-align: center; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.btn-t01.t_xs{min-width: 40px; height: auto; padding: 0 6px 2px; line-height: 16px;}
.btn-t01.t_s{min-width: 66px; height: auto; padding: 0 10px 2px; line-height: 20px;}
.btn-t01.t_m{height: auto; padding: 0 15px 2px; line-height: 28px;}
.btn-t01.t_m2{height: auto; padding: 0 15px 2px; line-height: 24px;}
.btn-t01.t_l{padding: 15px; font-size: 15px;}
.btn-t01.c_slight{color: #fff; background-color: #aaa; border: 1px solid #989898;}
.btn-t01.cart_btn_c{width:98px;}
.btn-t01.c_normal{color: #676767; background-color: #fff; border: 1px solid #bbb;}
.btn-t01.c_weight{color: #fff; background-color: #5a647f; border: 1px solid #5a647f;}
.btn-t01.c_weightier{color: #fff; background-color: #f43038; border: 1px solid #f43038;}
.btn-t01.w_l{min-width: 160px;}
.btn-t01.w_l2{min-width: 110px;}

.btn-t02{text-align: center; background: transparent; border: none;}
.btn-t02 .txtExcept{font-size: 11px; color: #ff7b7b;}

.btn-countUp{display: block; width: 13px; height: 10px; padding: 0; background: url('/small/images/up.png') no-repeat 0 0; border: none;}
.btn-countDown{display: block; width: 13px; height: 10px; padding: 0; background: url('/small/images/down.png') no-repeat 0 0; border: none;}
.btn-pagePrev{display: inline-block; width: 27px; height: 27px; padding: 0; vertical-align: middle; background: url('/small/images/num_btn3.jpg') no-repeat 0 0; border: none;}
.btn-pageNext{display: inline-block; width: 27px; height: 27px; padding: 0; vertical-align: middle; background: url('/small/images/num_btn4.jpg') no-repeat 0 0; border: none;}
.btn-notice{display: inline-block; width: 14px; height: 14px; padding: 0; vertical-align: middle; background: url('/small/images/icon_help.png') no-repeat 0 0; border: none;}

/* txt */
.txt-notice01{margin: 45px 0; text-align: center;}
.txt-notice01 .imgNotice{display: inline-block; width: 55px; height: 55px; margin-right: 15px; background: url('/small/images/icon_notice.png'); vertical-align: middle;}
.txt-notice01 .txt{display: inline-block; line-height: 20px; text-align: left; vertical-align: middle;}
.txt-notice02{margin: 20px 0 23px; line-height: 24px; text-align: center;}
.txt-notice03{margin-top: 10px; font-size: 11px; line-height: 18px; color: #666;}
.txt-notice03.t_2{margin-left: 22px;}
.txt-notice04{margin-top: 14px; line-height: 24px; color: #000;}
.txt-guide01 {margin-bottom: 20px;}
.txt-require{display: inline-block; margin-left: 4px; color: #f23c43;}
.txt-tblGuide01{vertical-align: middle; margin-top: 4px; margin-bottom: 6px;}
span.txt-tblGuide01{display: inline-block; margin: 0 0 0 10px;}
.txt-tblGuide01.t_2{margin-top: 20px;}
.txt-tblGuide02{margin-bottom: 6px; text-align: right;}

/* list */
.list-t01 li{position: relative; padding-left: 10px; line-height: 16px; color: #666;}
.list-t01 li + li{margin-top: 2px;}
.list-t01 li:after{content:"·"; position: absolute; top: 0; left: 0; font-weight: bold;}

.list-t02{margin-left: 15px;}
.list-t02 li{position: relative; padding-left: 14px; line-height: 22px; color: #666;}
.list-t02 li:after{content:""; position: absolute; top: 8px; left: 0; width: 4px; height: 8px; font-weight: bold; background: url('/small/images/right_arr.png') no-repeat 0 0;}
.list-t02.t_2{clear: both; margin-left: 0; overflow: hidden;}
.list-t02.t_2 li.t_2{float: left; margin-right: 58px;}
.list-t02.t_2 li.t_w1{float: left; width: 416px;}
.list-t02.t_2 li.t_w2{float: left; width: 300px;}       

.list-cartCalc{padding: 22px 0 26px 180px; text-align: left; border-bottom: 1px dashed #c5c5c5;}
.list-cartCalc li + li{margin-top: 6px;}
.list-cartCalc .tit{width: 110px; margin-right: 15px; font-size: 15px; text-align: right; color: #010101;}
.list-cartCalc .input-t01{text-align: right; color: #000;}
.list-cartCalc .txtWon{display: inline-block; padding: 0 30px 0 6px; font-size: 15px; vertical-align: middle; color: #010101;}
.list-cartCalc .txtCheckAll{width: 80px; padding: 0; text-align: left;}
.list-cartCalc .txt{display: inline-block; width: 400px; margin-left: 15px; text-align: left; color: #000;}
.list-cartCalc .txt .box-toggleGuide{margin-left: 10px;}

.list-info01 li{clear: both; overflow: hidden;}
.list-info01 .tit{float: left; width: 40%; font-weight: bold; line-height: 28px; color: #666;}
.list-info01 .data{float: left; width: 60%; line-height: 28px; text-align: right; color: #666;}

.list-info02 li{clear: both; overflow: hidden;}
.list-info02 .tit{float: left; width: 40%; line-height: 20px; color: #666;}
.list-info02 .data{float: left; width: 60%; line-height: 20px; text-align: right; color: #666;}

.list-input{margin: 5px;}
.list-input > li + li{margin-top: 14px;}
.list-input.t_2{margin: 0;}
.list-input.t_2 > li{display: inline-block; margin-right: 20px;}
.list-input.t_2 > li + li{margin-top: 4px;}

/* dl */
.dl-t01{display: table; width: 100%;}
.dl-t01 .titDl{display: table-cell; width: 90px; padding-top: 18px; font-weight: bold; vertical-align: top;}
.dl-t01 .dataDl{display: table-cell; padding: 12px 0; vertical-align: top;}
.dl-t01.t_ln1{border-bottom: 1px dashed #c0c0c0;}

/* flow */
.flow-bucket li{position: relative; display: inline-block; }
.flow-bucket li + li{margin-left: 30px; padding-left: 40px;}
.flow-bucket li + li:before{content:""; position: absolute; top: 50%; left: 0; display: block; width: 16px; height: 21px; margin-top: -10px; background: url('/small/images/arro_r3.png') no-repeat 0 0;}
.flow-bucket .circle{display: inline-block; width: 40px; height: 40px; font-size: 20px; line-height: 38px; text-align: center; vertical-align: middle; color: #fff; background-color: #c7c7c7; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px;}
.flow-bucket .tit{display: inline-block; margin: -2px 0 0 6px; font-size: 18px; line-height: 28px; vertical-align: middle; color: #333;}
.flow-bucket li.on .circle{background-color: #f43038;}

/* table */
.tbl-t01 {table-layout: fixed; border-spacing: 0; border-top: 2px solid #d0d0d0;}
.tbl-t01 thead th {height: 40px; padding: 5px; font-weight: bold; line-height: 1.4; text-align: center; vertical-align: middle; color: #666; border-bottom: 1px solid #d6d6d6; background-color: #fcfcfc; font-size: 12px;}
.tbl-t01 tbody td {height: 45px; padding: 8px 5px; text-align: center; vertical-align: middle; word-break: break-all; color: #666; border-bottom: 1px solid #d6d6d6;}
.tbl-t01 .areaProd {position: relative; min-height: 60px; padding-left: 70px; display: inline-block;}
.tbl-t01 .areaProd .img{position: absolute; top: 0; left: 0; display: inline-block; width: 60px; height: 60px; margin-right: 20px; line-height: 0; vertical-align: middle;}
.tbl-t01 .areaProd .img img{width: 60px; height: 60px;}
.tbl-t01 .areaProd .txt {display: inline-block; text-align: left; vertical-align: middle;}
.tbl-t01 .areaProd .btn-t01.t_xs {margin: 4px 0 6px;}
.tbl-t01 .areaCount {margin-top: 10px;}
.tbl-t01 .areaCount .inputSpinner{margin-bottom: 5px;}
.tbl-t01 .areaCount .txtMinQuantity{line-height: 28px;}
.tbl-t01 .areaCount .btn_gray_light {width: 63px; padding: 1px 0 3px;}
.tbl-t01 .areaBtn .btn-t01 + .btn-t01{margin-top: 6px;}
.tbl-t01 .th-t2{background-color: #fff;}

.tbl-t02 tbody th{height: 32px; padding: 10px 15px 10px 0; font-weight: bold; text-align: left; vertical-align: top;}
.tbl-t02 tbody td{height: 32px; padding: 5px 0; vertical-align: middle;}
.tbl-t02 tbody td.td-vt{vertical-align: top;}
.tbl-t02 .txtGuide{margin-top: 6px;}
.tbl-t02 .txtGuide02{display: inline-block; margin: 0 20px 0 6px; vertical-align: middle;}

.tbl-t03{border-top: 1px solid #c6c6c6;}
.tbl-t03 caption{display: none;}
.tbl-t03 tbody th{padding: 10px; background-color: #f6f6f6; border-bottom: 1px solid #e2e2e2;}
.tbl-t03 tbody td{padding: 10px; border-bottom: 1px solid #e8e8e8;}
.tbl-t03 .form-control {display: inline-block; vertical-align: middle; border-radius: 0; box-shadow: none; height: 30px; line-height: 1; border: 1px solid #ddd; padding: 0 7px;}
.tbl-t03 button {display: inline-block; height: 30px; vertical-align: middle;}

.tbl-view01{table-layout: fixed; border-spacing: 0; border-top: 2px solid #3f3f3f; border-bottom: 1px solid #c1c1c1;}
.tbl-view01 caption{display: none;}
.tbl-view01 tbody th{height: 35px; padding: 10px 15px; text-align: left; background-color: #f4f4f4;}
.tbl-view01 tbody th.line,
.tbl-view01 tbody td.line {border-bottom: 1px solid #e5e5e5;}
.tbl-view01 tbody td.line.line-pa{margin: 0;padding-top: 0;padding-bottom: 15px;}
.tbl-view01 tbody td.line.line-pa .btn_gray_light{padding-top:14px;}
.tbl-view01 tbody th.td-vt{vertical-align: top;}
.tbl-view01 tbody td{height: 36px; padding: 10px 20px; line-height: 18px; text-align: left;}
.tbl-view01 tbody .td-input{padding-top: 2px; padding-bottom: 2px;}
.tbl-view01 .form-control,
.tbl-view01 .btn_normal {height: 30px; vertical-align: middle;}

.tbl-view02{table-layout: fixed; border-spacing: 0; border-top: 2px solid #c1c1c1; border-bottom: 1px solid #c1c1c1;}
.tbl-view02 caption{display: none;}
.tbl-view02 tbody th{height: 35px; padding: 10px 15px; text-align: left; background-color: #f4f4f4;}
.tbl-view02 tbody th.line,
.tbl-view02 tbody td.line {border-bottom: 1px solid #e5e5e5;}
.tbl-view02 tbody td.line.line-pa{margin: 0;padding-top: 0;padding-bottom: 15px;}
.tbl-view02 tbody td.line.line-pa .btn_gray_light{padding-top:14px;}
.tbl-view02 tbody th.td-vt{vertical-align: top;}
.tbl-view02 tbody td{height: 36px; padding: 10px 20px; line-height: 18px; text-align: left;}
.tbl-view02 tbody .td-input{padding-top: 2px; padding-bottom: 2px;}
.tbl-view02 .form-control,
.tbl-view02 .btn_normal {height: 30px; vertical-align: middle;}

.area-tbl-prodSelect{position: relative; display: table; width: 100%; border-bottom: 1px solid #d6d6d6;}
.area-tbl-prodSelect .colSelect{display: table-cell; padding: 10px 0; vertical-align: top;}
.area-tbl-prodSelect .colInfo{display: table-cell; padding: 10px 0; vertical-align: middle;}
.area-tbl-prodSelect .colPager{display: table-cell; padding: 10px 0; text-align: right; vertical-align: middle;}
.area-tbl-prodSelect.t_2{border-bottom: none;}

.area-tbl-notice{padding: 20px; text-align: center; color: #666; border-bottom: 1px solid #d6d6d6;}

.area-tbl-prodTotal{padding: 15px 30px; font-size: 15px; text-align: right; color: #666; background-color: #fcfcfc; border-bottom: 1px solid #d6d6d6;}
.area-tbl-prodTotal .num{display: inline-block; margin-top: -4px; padding-left: 10px; vertical-align: middle;}
.area-tbl-prodTotal .txtBucketTotal{color: #000;}
.area-tbl-prodTotal .txtBucketTotal .num{min-width: 45px;}
.area-tbl-prodTotal .txtTotal{padding-left: 26px;}
.area-tbl-prodTotal .txtTotal .num{min-width: 60px; font-size: 20px;}
.area-tbl-prodTotal.t_2{text-align: center;}
.area-tbl-prodTotal.t_2 .txtTotal{padding-left: 0;}

.area-cart-prodTotal02{padding: 15px 0; text-align: center; background-color: #fcfcfc; border-bottom: 1px dashed #c5c5c5;}
.area-cart-prodTotal02 .txtCalc{display: inline-block; width: 80px; vertical-align: middle;}
.area-cart-prodTotal02 .txtCartTotal{display: inline-block;}
.area-cart-prodTotal02 .txtCartTotal .txt{display: inline-block; vertical-align: middle;}
.area-cart-prodTotal02 .txtCartTotal .num{display: inline-block; margin-left: 20px; font-size: 15px; line-height: 16px; font-weight: bold; color: #666; vertical-align: middle;}
.area-cart-prodTotal02 .txtShipping{display: inline-block;}
.area-cart-prodTotal02 .txtShipping .txt{display: inline-block; vertical-align: middle;}
.area-cart-prodTotal02 .txtShipping .num{display: inline-block; margin-left: 20px; font-size: 15px; line-height: 16px; font-weight: bold; color: #666; vertical-align: middle;}
.area-cart-prodTotal02 .txtShipping .btn-notice{margin: 4px 0 0 5px;}
.area-cart-prodTotal02 .txtCoupon{display: inline-block;}
.area-cart-prodTotal02 .txtCoupon .txt{display: inline-block; vertical-align: middle;}
.area-cart-prodTotal02 .txtCoupon .num{display: inline-block; margin-left: 20px; font-size: 15px; line-height: 16px; font-weight: bold; color: #666; vertical-align: middle;}
.area-cart-prodTotal02 .txtTotal{display: inline-block;}
.area-cart-prodTotal02 .txtTotal .txt{display: inline-block; vertical-align: middle;}
.area-cart-prodTotal02 .txtTotal .num{display: inline-block; margin-left: 25px; font-size: 20px; vertical-align: middle; color: #f23c43;}

.area-cart-prodTotal03{display: table; width: 100%; border-top: 2px solid #3f3f3f; border-bottom: 1px solid #c1c1c1; margin-top: -1px;}
.area-cart-prodTotal03 .areainfo{display: table-cell; width: 65%; line-height: 22px; vertical-align: middle;}
.area-cart-prodTotal03 .areaCalc{display: table-cell; padding: 25px; vertical-align: middle; background-color: #f4f4f4;}
.area-cart-prodTotal03 .listInfo{height: 120px;}
.area-cart-prodTotal03 .txtTotal{position: relative; font-size: 15px; font-weight: bold; line-height: 25px; color: #666;}
.area-cart-prodTotal03 .txtTotal .num{position: absolute; top: 0; right: 0; font-size: 21px; font-weight: bold; color: #000;}
.area-cart-prodTotal03 .txtTotal .won{color: #666;}
.area-cart-prodTotal03 .txtDue{margin-bottom: 2px; font-size: 15px; color: #000;}

/* box */
.box-info01{display: table; width: 100%; height: 150px; margin-top: 15px; border: 1px solid #cdcdcd;}
.box-info01 .areaTit{display: table-cell; width: 225px; padding-left: 35px; vertical-align: middle;}
.box-info01 .areaTit .tit{display: table; width: 110px; height: 80px; color: #575757; background-color: #fcfcfc; border: 1px solid #d6d6d6;}
.box-info01 .areaTit .tit .titTxt{display: table-cell; text-align: center; vertical-align: middle;}
.box-info01 .areaTit .btn-t02{margin-top: 6px;}
.box-info01 .areaTxt{display: table-cell; vertical-align: middle;}
.box-info01 .areaTxt .txt{margin-bottom: 8px;}

.box-input01{padding: 0 20px 15px; border-top: 1px solid #ccc; border-bottom: 1px dashed #ccc;}
.box-input01 .areaSelect{height: 42px; line-height: 40px;}
.box-input01 .areaTxt{position: relative; color: #666;}
.box-input01 .areaTxt .wrapInputPay{position: absolute; right: 0; bottom: 0;}
.box-input01 .areaTxt .wrapInputPay .areaSelect{position: absolute; right: 0; bottom: -50px;vertical-align:middle;width:400px;background:#ddd;border-radius:10px;display:none;padding:0px 15px;text-align:center;}
.box-input01 .areaTxt .wrapInputPay:hover .areaSelect{display:block;}

.box-input02{display: table; width: 100%; border-top: 1px solid #ccc; border-bottom: 1px dashed #ccc;}
.box-input02 .areaSelect{display: table-cell; width: 330px; padding: 10px; vertical-align: middle;}
.box-input02 .areaSelect .wrap-input{line-height: 28px;}
.box-input02 .areaSelect .label-t01{min-width: 120px; font-weight: bold;}
.box-input02 .areaSelect .txtState{display: inline-block; vertical-align: middle;}
.box-input02 .areaTxt{display: table-cell; vertical-align: middle; color: #666;}
.box-input02 .areaTxt .txt01{margin-right: 10px;}
.box-input02.t_2{border-top: none; border-bottom: 1px solid #ccc;}

.box-lb01{width: 276px; margin: 0 20px 0 6px; padding: 0; border: 1px solid #b4b3b3; vertical-align: top;}
.box-lb01 .tit{display: block; padding: 6px; color: #fdeeef; text-align: center; color: #666; background-color: #fdeeef; border-bottom: 1px dashed #b4b1b2;}
.box-lb01 .txt{display: block; padding: 6px; text-align: center; color: #666;}

.box-shippingForm{clear: both; overflow: hidden; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.box-shippingForm .areaShipping{float: left; width: 760px; padding: 15px 0 15px 20px; border-right: 1px solid #e3e3e3;}
.box-shippingForm .areaBuyer{float: left; width: 260px; padding: 20px 0 0 20px;}
.box-shippingForm .areaBuyer > .tit{margin-bottom: 18px; color: #666;}

.box-toggleGuide{position: relative; display: inline-block;}
.box-toggleGuide .contToggleGuide{position: absolute; top: -50px; left: 100px; display: none; width: 400px; padding: 10px 15px 15px 15px; font-size: 11px; line-height: 16px; text-align: left; border: 2px solid #f43038; background-color: #fff; z-index: 10;}
.box-toggleGuide .contToggleGuide .list-t01 li{font-size: 11px;}
.box-toggleGuide .contToggleGuide .h-t02{padding-left: 0; font-weight: bold;}
.btn-t01:hover + .contToggleGuide, .btn-t01:focus + .contToggleGuide{display: block;}
.box-toggleGuide .contToggleGuide.t_2{top: 32px; left: -297px; width: 450px;}
.box-toggleGuide .contToggleGuide.t_3{top: 32px; left: auto; right: 0; width: 450px;}
.box-toggleGuide .contToggleGuide.t_4{top: -50px; left: 30px; width: 360px;}
.box-toggleGuide.t_vt{vertical-align: top;}

.box-headSpot {padding-top: 60px;}
.box-headSpot .tit{margin-bottom: 16px; font-size: 30px; line-height: 34px; color: #f23c43;}
.box-headSpot .tit .ico{margin-top: -2px; margin-right: 2px;}
.box-headSpot .txt{margin-bottom: 40px;}
.box-headSpot .txt2{margin-bottom: 20px;}

.box-benefits{padding: 5px; background: url('/small/images/bg_line.png') repeat 0 0;}
.box-benefits:before{content:""; display: block; width: 100%; height: 100%; background-color: #fff;}
.box-benefits .inner{position: relative; padding: 15px 0; background: #fff; text-align: center;}
.box-benefits .tit{position: absolute; top: -17px; left: -6px; color: #fff; background: #5a647f; padding: 5px 20px;border-radius:20px;}
.box-benefits .listBenefits{display: inline-block; vertical-align: middle;}
.box-benefits .listBenefits li{display: inline-block; margin: 0 20px; text-align: center; vertical-align: top;}
.box-benefits .listBenefits .ico{height: 61px;}
.box-benefits .listBenefits .txt{display: block; margin-top: 6px; text-align: center;}
.box-benefits.t_2{display: inline-block; margin: 0 20px;}
.box-benefits.t_2 .listBenefits{margin-top: 0;}

.box-agree {height: 150px; margin-bottom: 6px; padding: 10px; overflow: auto; border: 1px solid #d6d6d6; font-size: 12px;}

.box-addFile{position: relative; display: table; width: 100%; margin-bottom: 15px; border: 1px solid #d6d6d6; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.box-addFile .tit{display: table-cell; width: 130px; padding: 5px; text-align: center; vertical-align: middle; background-color: #fcfcfc;}
.box-addFile .cont{display: table-cell; padding: 5px; vertical-align: middle;}
.box-addFile .inputFile{width: 100%; height: 32px; padding-left: 5px; border: none;}
.box-addFile .btnFileAdd{position: absolute; top: 5px; right: 5px;}
.box-addFile  .wrapInputFile{position: relative; margin: 4px 5px;}
.box-addFile  .wrapInputFile .inputFile{position: absolute; top: 0; left: 0; width: 300px; height: 24px; font-size: 0; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; z-index: 2;}
.box-addFile  .wrapInputFile .inputFileName{display: inline-block; width: 230px; height: 24px; margin-top: -4px; vertical-align: middle; border: none}

.box-inipayDown{margin-bottom: 55px; text-align: center;}

/* section */
.sect-t01{margin-bottom: 20px;}
.sect-t02{margin-bottom: 25px;}
.sect-t03{margin-bottom: 30px;}

/* wrap */
.wrap-btn01{position: relative; margin-bottom: 10px; text-align: right;}
.wrap-btn01 .aside{position: absolute; top: 0; left: 0;}
.wrap-btn01 .btn-t01 + .btn-t01{margin-left: 4px;}
.wrap-btn02{margin-top: 20px; text-align: right;}
.wrap-btn02 .btn_red {padding: 10px 30px; font-size: 15px;}
.wrap-btnConfirm01{text-align: center; padding-top: 20px;}
.wrap-btnConfirm01 .btn_red,
.wrap-btnConfirm01 .btn_gray {font-size: 16px; padding: 15px 60px; margin: 0 5px;}
.wrap-btnConfirm01 .btn-t01 + .btn-t01{margin-left: 16px;}

.wrap-input + .wrap-input{margin-top: 6px;}


/* header-contents */
.header-bucket{position: relative; margin-top: 30px;}
.header-bucket .h-t01{margin-bottom: 45px;}
.header-bucket .flow-bucket{position: absolute; top: 0; right: -3px;}
.contents-bucket {position: relative; }
.contents-bucketNon {float: right; width: 875px;}

/* 주문 완료 */
.lay-cart-div{position: relative; clear: both; margin-bottom: 10px; overflow: hidden;}
.lay-cart-div .lay-cart-div-01{float: left; width: 510px; margin-right: 30px;}
.lay-cart-div .lay-cart-div-01 .tbl-view01{height: 260px;}
.lay-cart-div .lay-cart-div-02{float: left; width: 530px;}
.lay-cart-div .lay-cart-div-02 .tbl-view01{height: 260px;}

/* 비회원 주문하기 */
.lay-cart-div02{clear: both; margin-top: 20px; padding-bottom: 30px; border-bottom: 1px solid #e7e7e7; overflow: hidden;}
.lay-cart-div02 .lay-cart-div02-01{float: left; width: 50%; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.lay-cart-div02.t_2{padding-left: 0; padding-bottom: 30px; border-bottom: none;}
.lay-cart-div02.t_2 .lay-cart-div02-01{padding-left: 0; padding-right: 13px;}
.lay-cart-div02.t_2 .lay-cart-div02-01 + .lay-cart-div02-01{padding-left: 13px; padding-right: 0;}

/* 사업장 부서명 변경 */
.cart_memo_wrap {padding: 10px 0 20px; display: table; width: 100%;}
.cart_memo_wrap > div {display: table-cell; vertical-align: middle;}
#cust_chg_sbs {width: 30%;}
#cust_chg_memo_all_div {width: 70%; text-align: right;}

/* 배송지 주소 변경 */
#editAddr { padding: 10px; margin-left:-170px; visibility: hidden; box-sizing: border-box; width:340px; position: absolute; top:45px; left:50%; border: 2px solid #555; background-color: #fff; }
#editAddr.editAddr_ab{top:-160px !important;left:85% !important; z-index:100;}
#editAddr table { width: 100%; border-spacing: 0; border-collapse: collapse;}
#editAddr table tr td { padding: 3px 0; }
#editAddr table tr td.tb_msg {padding-bottom: 5px; text-align: right; color:#FD8A99;font-size:11px}
#editAddr table tr td p.tb_msg_1 {padding-top: 2px; text-align: right; color:#000;font-size:10px}
#editAddr table tr td.txt_c { text-align: center;}

/* 회원혜택, 이벤트, 금융혜택 묶음 */
.cart_tab {display:table;width:720px;margin:auto;}
.cart_tab li{width: 20%;display:table-cell;}
.cart_tab li a{display:block;border:1px solid  #cdcdcd;font-size:17px;color:#666;padding:15px 0;}
.cart_tab li:active a,
.cart_tab li.active a{background-color: #f23c43;color:#fff;}
.cart_tab li:nth-child(2) a{border-right:0;border-left:0;}
.cart_con{display:none; padding:50px 20px;}
.cart_con.active{display:block;}

/* 회원혜택 */
.cart-gift-title{font-size:28px;color:#333a4d;font-weight:normal;}
.cart-gift-title span.color{color:#ee1515;font-weight:bold;}


/* 회원혜택 - 신규기업회원 특별혜택 */
.tab-area{overflow:hidden;}
.tab-area h5{font-size:21px;color:#333a4d;padding:15px 5px;border-bottom:1px solid #333a4d;font-weight:normal;}
.tab-area h5 span.small{font-size:14px;color:#777;font-weight:normal;display:inline-block;margin-left:10px;}
.tab-area h5 a.pull-right{float:right;font-size:12px;color:#666;font-weight:bold;display:inline-block;padding-top:10px;}
.tab-area-b{border-bottom:1px solid #ddd;padding-bottom:30px;}
.tab-special-list{width:1000px;margin:auto;overflow:hidden;padding:30px 0;background:url('/small/images/event/event_20170627/tab-special-list.png') no-repeat;background-position:center 30px;}
.tab-special-list li{width:25%;float:left;}
.tab-special-list li .img{margin-bottom:15px;}
.tab-special-list li .tit{color:#333;font-weight:bold;}


/* 회원혜택 - 스피드몰 회원서비스 */
.tab-boxicon-list{overflow:hidden;width:100%;text-align:center;}
.tab-boxicon-list li{float:left;width:25%;height:125px;padding-top:15px;position:relative;}
.tab-boxicon-list li:nth-child(1){background:#94daea;}
.tab-boxicon-list li:nth-child(2){background:#a3e9f5;}
.tab-boxicon-list li:nth-child(3){background:#d9f4f9;}
.tab-boxicon-list li:nth-child(4){background:#89d3f5;}
.tab-boxicon-list li:nth-child(5){background:#89d3f5;}
.tab-boxicon-list li:nth-child(6){background:#d9f4f9;}
.tab-boxicon-list li:nth-child(7){background:#94daea;}
.tab-boxicon-list li:nth-child(8){background:#a3e9f5;}
.tab-boxicon-list li:nth-child(9){background:#d9f4f9;}
.tab-boxicon-list li:nth-child(10){background:#89d3f5;}
.tab-boxicon-list li:nth-child(11){background:#a3e9f5;}
.tab-boxicon-list li .tit{color:#666;line-height:20px;font-weight:bold}
.tit-mt{margin-top:8px;}
.tab-boxicon-list li .btn_boxicon{position:absolute;bottom:10px;right:15px;}

/* 회원혜택 - 스피드몰 회원서비스 - 아이콘 */
.s-icon{background:url('/small/images/event/event_20170627/s_icon.png') no-repeat;width:50px;height:50px;display:inline-block;}
.s-icon1{background-position: 0 0;}
.s-icon2{background-position: 0 -50px;}
.s-icon3{background-position: 0 -100px;}
.s-icon4{background-position: 0 -150px;}
.s-icon5{background-position: 0 -200px;}
.s-icon6{background-position: 0 -250px;}
.s-icon7{background-position: 0 -300px;}
.s-icon8{background-position: 0 -350px;}
.s-icon9{background-position: 0 -400px;}
.s-icon10{background-position: 0 -450px;}
.s-icon11{background-position: 0 -500px;}

/* 회원혜택 - 쿠폰 적립 페이백 */
.tab-coupon-list{overflow:hidden;}
.tab-coupon-list li{position:relative;}
.tab-coupon-list li a.btn{display:inline-block;}
.tab-coupon-list li a.btn-coupon1{position:absolute;bottom:117px;right:350px;}
.tab-coupon-list li a.btn-coupon2{position:absolute;bottom:117px;right:85px;}
.tab-coupon-list li a.btn-coupon3{position:absolute;bottom:40px;right:250px;}
.tab-coupon-list li a.btn-coupon4{position:absolute;bottom:40px;right:116px;}

/* 이벤트 - 이달의 무이자 이벤트 */	
.event-350box{width:350px;float:left;}
.event-350box img{padding-top:70px;}

.event-680box{width:680px;padding-right:50px;float:left;}
.event-680box h3{font-size:22px;color:#333;padding:30px 5px 15px 5px;}
.event-680box h3 span.color{color:#f23c43;}
.event-680box p{font-size:12px;color:#666;margin-bottom:10px;padding:0 5px;}
.event-680box p span{color:#fff;}

/* 이벤트 - 테이블 */
.table-group{border-top:2px solid #5a647f;overflow:hidden;}
.table-installment{width:100%;border:1px solid #ddd;}
.table-installment thead th,
.table-installment tbody td{text-align:center;line-height:35px;border-bottom:1px solid #ddd;}
.table-installment thead th{background:#f9f9f9;font-size:12px;font-weight:bold;}
.table-installment tbody td{border-right:1px solid #ddd;font-size:12px;}
.table-installment tbody td.ex{text-align:left;line-height:18px;padding:0 10px;}


/* 이벤트 - 유의사항 ,참고사항*/
.warning-title{font-size:14px;padding:20px 0;font-weight:bold;}
.warning-list{padding-left:30px;font-size:12px;}
.warning-list li{list-style:disc;line-height:20px;}
.warning-list li span.color{color:#f23c43;}
.warning-area{padding:0 25px;}
.ranking-list{margin-top:25px;padding-left:30px;font-size:12px;}
.loans-banner{text-align:center;}


/* 금융혜택 - 레이아웃 */
.finance-title{font-size:22px;color:#333a4d;padding-bottom:15px;text-align:center;font-weight:bold;border-bottom:1px solid #c6c6c6;}
.finance-layoutBox{padding:40px 0;overflow:hidden;}
.financeBox{float:left;width:248px;overflow:hidden;}
.financeBox a{margin-bottom:10px;display:inline-block;}

.box-toggleB{position:relative;}
.box-toggleB .btn-t01.t_s:hover + .contToggleGuide{display:block;}
.contToggleGuide.t_y{position: absolute; top: -50px; left: 120px; display: none; width: 700px; padding: 10px 15px 15px 15px; background:#fff;border: 2px solid #f43038;}
.contToggleGuide.t_y .txt-notice01{margin:10px 0;}


/* 장바구니 주문하기 팝업 */
#is_new_per_pop_bg{height:auto;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.7);z-index:1000;}
#is_new_per_pop{position:fixed;top:35%;left:40%;z-index:1002;}
#is_new_per_pop img{}
#is_new_per_pop_go_jumun{width:129px;height:29px;position:absolute;bottom:27px;right:88px;border:none;z-index:1003;background:rgba(0,0,0,0);}
#is_new_per_pop_shop_more{width:129px;height:29px;position:absolute;bottom:27px;left:63px;border:none;z-index:1003;background:rgba(0,0,0,0);}
#is_new_per_no_show{position:absolute;bottom:0;right:0;font-size:12px;border:none;padding:0 5px;z-index:1003;background:rgba(0,0,0,0);}